*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main{
    background: linear-gradient(#FFCDB2, #FFB4A2, #E5989B);
}

.dark{
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 10px;
    border: 1px solid none;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
}

.blue{
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 10px;
    border: 1px solid none;
    padding: 10px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 5px;
}


.gradient{
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 10px;
    border: 1px solid none;
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: linear-gradient(red, blue, green);
}

.green{
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 10px;
    border: 1px solid none;
    padding: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}


.colour{
    display: flex;
    justify-content: right;
    padding: 10px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    font-weight: 700;
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    background: transparent;
    box-shadow: 5px 5px 20px rgb(20, 1, 13);
}

.calculator form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    
}

.calculator form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    
}

div input.equalsto{
    width: 145px;
}

form .operator{
    color: red;
}